@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poetsen+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*--------------------HEADER  ------------------------*/

.iconos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}


.artNombre{
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 110px;
    top: 25px;
}



h2{
    font-family: "Poetsen One", sans-serif;
}

header{
    background-color: rgba(100, 71, 71, 0.781);
}

.navBar{
    list-style: none;
}

.navBar li a{
    text-decoration: none;
    color: rgb(236, 225, 225);
}

header a{
    text-decoration: none;
    color: rgb(236, 225, 225);
}



/*---------------MAIN ----------------------*/


/* ------------- MAIN 01 ------------ */

.sectionBanner{
    background-color: rgb(196, 39, 39);
    background: url(../assets/img/sukuna.jpg);
    width: 100%;
    height: 31.25rem;
    display: flex;
    background-size: cover;
}

.textoBanner{
    width: 50%;
    text-align: center;
    align-items: center;
    gap: 1.25rem;
}

.sectionBanner h2{
    color: rgb(243, 243, 243);
}

.sectionBanner article{
    color: rgb(243, 243, 243);
    
}

/*-------------main 02 -----------------*/

main{
    background-color: rgb(49, 7, 165);
}

.textoTren{
    color: aliceblue;
}

/*-------------MAIN 03 ----------*/




.sectionShibuya{
    background-color: rgb(25, 44, 218);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 31.25rem;
    align-items: center;
    flex-wrap: wrap;
}


.shibu{
    height: 31.25rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}

.sectionShibuya h2{
    color: beige;
}

.sectionShibuya p{
    color: beige;
}



/*----------------- main 4 ------------*/




.sectionAccidente{
    background-color: rgb(15, 15, 59);
}

.sectionAccidente{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    width: 100%;
    height: 15rem;
    align-items: center;
    flex-wrap: nowrap;
}

.cuadroUno{
    background-color: rgb(0, 0, 0);
    width: 50%;
    height: 12.5rem;
}

.cuadroDos{
    background-color: black;
    width: 50%;
    height: 12.5rem;

}

.sectionAccidente h3{
    color: white;
}

.sectionAccidente p{
    color: white;
}



/*-------------------main 05 -------------------------*/


.sectionCobertura{
    background-color: rgb(49, 19, 87);
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: repeat(10, 1fr) repeat(2, 5fr);
    grid-template-rows: repeat(8, 1fr);
    flex-wrap: nowrap;
    }
    

.uno{
    grid-column:2/4;
    grid-row: 3/5;   
    background-color: rgb(198, 198, 201);
}

.dos{
    background-color: rgb(198, 198, 201);
    grid-column:5/7;
    grid-row: 3/5; 
}

.tres{
    background-color: rgb(198, 198, 201);
    grid-column:8/10;
    grid-row: 3/5; 
}

.cuatro{
    background-color: rgb(198, 198, 201);
    grid-column:2/4;
    grid-row: 6/8; 
}

.cinco{
    background-color: rgb(198, 198, 201);
    grid-column:5/7;
    grid-row: 6/8; 
}

.seis{
    grid-column:8/10;
    grid-row: 6/8; 
    background-color: rgb(198, 198, 201);
}

.tit{
    grid-column:11/13;
    grid-row: 1/2;
    color: aliceblue;
}


.sectionCobertura h3{
    font-family: "Lora", serif;
    background-color: rgb(231, 225, 225);
    color: rgb(0, 0, 0);
}

.acc{
    grid-column:11/12;
    grid-row: 3/4;
}

.accp{
    grid-column:12/13;
    grid-row: 3/4;
}

.initinere{
    grid-column:11/12;
    grid-row: 5/6;
}

.inp{
    grid-column:12/13;
    grid-row: 5/6;
}

.enfermedad{
    grid-column:11/12;
    grid-row: 7/8;
}

.enfp{
    grid-column:12/13;
    grid-row: 7/8;
}

.sectionCobertura{
    color: rgb(255, 255, 255);
}



/*------------------------FOOTER -------------------*/


footer{
    background-color: rgb(182, 121, 184);
}



.google a{
    text-decoration: none;
    color: black;
}

.ios a{
    text-decoration: none;
    color: black;
}


/*---------------------- CONTACTOS -----------------------------*/

.canales{
    background-color: rgb(138, 181, 236);
}

.canales div{
    background-color: black;
    color: white;
}

.mapa{
    background-color: rgb(211, 201, 189);
}

.formulario{
    background-color: rgb(51, 39, 20);
    color: aliceblue;
}



/*------------------------------ NOSOTROS ----------------------------*/

.presentacion{
    background-color: rgb(160, 98, 119);
}

.infoUno{
    background-color: rgb(131, 37, 37);
    color: aliceblue;
}

.infoDos{
    background-color: rgb(190, 34, 34);
    color: white;
}


/*------------------------------ NOVEDADES ----------------------------*/

.novedadesMain{
    background-color: rgb(212, 24, 24);
    color: white;
}

.foro h2{
    text-decoration: underline;
}

.remoto h2{
    text-decoration: underline;
}

.youtube h2{
    text-decoration: underline;
}

.covid h2{
    text-decoration: underline;
}

.musica h2{
    text-decoration: underline;
}

.recomendacion h2{
    text-decoration: underline;
}


/*------------------------------ SERVICIOS ----------------------------*/


.gojo{
    background: url(../assets/img/gojo-servicios.png);
    width: 100%;
    height: 25.25rem;
    display: flex;
    background-size: cover;
    flex-wrap: nowrap;
    justify-content: center;
}


.gojo h2{
    color: rgb(255, 255, 255);
}


/*////////////////////

.trabajo{
    background-color: rgb(88, 29, 143);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 31.25rem;
    align-items: center;
    flex-wrap: wrap;
}

.gallo{
    display: flex;
    flex-direction: row;
    width: 100%;
}


.trabajo h2{
    color: beige;
}

.trabajo p{
    color: beige;
}


*/--------------------------------



.gestion{
    background-color: rgb(116, 68, 206);
    color: aliceblue;
}

.prevencion{
    background-color: rgb(77, 48, 202);
    color: aliceblue;
}

.seguridad{
    background-color: rgb(24, 24, 151);
    color:aliceblue;
}